/* html,
body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0;
	padding: 0;
}

.header {
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	background-color: black;
}

.header img {
	height: 50px;
	padding-left: 10px;
}

.header li {
	list-style: none;
	text-decoration: underline;
	width: auto;
	display: inline-block;
	padding: 5px;
}

.header li a {
	color: seashell;
}

main {
	margin-top: 69px;
}

#mission {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#mission img {
	height: 700px;
	width: 1200px;
	margin: 0 auto;
}

.mission {
	position: absolute;
	width: 100%;
	background-color: black;
	margin: 0;
}

#teas {
	width: 1000px;
	margin: 0 auto;
}

.tea-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tea-list img {
	height: 200px;
	width: 300px;
	padding: 15px 15px 0 15px;
}

.tea-list h4 {
	margin: 0 auto;
	padding-top: 10px;
}

#locations {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}

#locations img {
	height: 500px;
	width: 1200px;
	margin: 0 auto;
}

#locations h2 {
	position: absolute;
	margin: -160px auto;
	z-index: 2;
}

.locations-list {
	width: 1000px;
	display: flex;
	position: absolute;
}

.locations-list .box {
	width: 300px;
	background-color: black;
	margin: 15px 40px;
}

footer {
	height: 200px;
}

footer .left {
	float: left;
	margin: 0 20px;
} */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

h2, h4 {
	padding: 10px
}



/* Logo and Nav Section */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	z-index: 1;
}

.nav ul {
	display: inline-flex;
	list-style-type: none;
}

.nav li {
	min-width: 150px;
	justify-content: space-around;
}

.nav a {
	color: seashell;
}

.logo {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
}

/* Main section */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 69px;
}

/* Mission section */
.mission-image {
	background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 700px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.mission-text {
	background-color: black;
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Tea of the Month Section */
.teas-container {
	width: 1000px;
	margin-top: 60px;
}

.tea-list img {
	width: 300px;
	height: 200px
}

.tea-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tea {
	margin: 10px 0;
}

.tea + .tea {
	margin-left: 50px;
}

/* Locations section */
.locations-container {
	margin-top: 60px;
}

.locations-image {
	background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
	background-size: 1200px 690px;
	background-repeat: no-repeat;
	background-position: top;
	height: 500px;
	width: 1200px;
}

.locations-text {
	position: relative;
	top: 50px
}

.locations-text h2 {
	padding-bottom: 15px;
}

.locations-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.locations-list .box {
	background-color: black;
	height: 250px;
	width: 300px;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.box + .box {
	margin-left: 40px;
}

/* Contact section */
.contact {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Footer section */
.footer {
	text-align: left;
	margin: 30px 20px;
}